<?xml version="1.0"?>
<model>
    <name>Robot Podium</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Ryan McKee</name>
        <email>ryanmckee47@icloud.com</email>
    </author>

    <description>
        Robot Podium for the ABB-IRB140 
    </description>

</model>
