<launch>
  <!-- Wrapper: abb_driver's robot_interface.launch needs `controller_joint_names`
       (normally supplied by an abb_*_support package). Without it robot_state
       aborts joint_names init and then segfaults. IRB140 is a standard 6-axis arm. -->
  <arg name="robot_ip" doc="IP of the IRC5 controller"/>
  <arg name="J23_coupled" default="false"/>

  <rosparam param="controller_joint_names">[joint_1, joint_2, joint_3, joint_4, joint_5, joint_6]</rosparam>

  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="J23_coupled" value="$(arg J23_coupled)"/>
  </include>
</launch>
