<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pneumatic_gripper">

<xacro:include filename="$(find abb_irb140_description)/urdf/irb140_pneumonic_gripper_finger.xacro"/>

<xacro:macro name="pneumatic_gripper" params="name parent">

    <!-- Attach the gripper body to the robot flange -->
    <joint name="${name}_to_${parent}" type="fixed">
        <parent link="${parent}"/>
        <child link="${name}_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${name}_base_link">
        <visual>
            <origin xyz="0 0 -0.03105" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://abb_irb140_description/meshes/abb_irb140_pneumonic_end_effector/visual/ABBIRB140_EndEffector.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="plastic">
                <color rgba="0.11 0.11 0.11 1"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0.0165 0 -0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.125 0.062"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
    </link>

    <!-- Spawn left and right gripper fingers.
         The offset/rotation for each finger is passed straight into the
         finger macro's base joint (its <origin> block). -->
    <xacro:pneumatic_gripper_finger name="${name}_left" parent="${name}_base_link">
        <origin xyz="0.0 0.046 0.0071" rpy="0.0 0.0 1.57"/>
    </xacro:pneumatic_gripper_finger>

    <xacro:pneumatic_gripper_finger name="${name}_right" parent="${name}_base_link">
        <origin xyz="-0.008 -0.046 0.0071" rpy="0.0 0.0 -1.57"/>
    </xacro:pneumatic_gripper_finger>

</xacro:macro>

</robot>
