<?xml version="1.0" encoding="UTF-8" ?>

<robot name="abb_irb140" xmlns:xacro="http://ros.org/wiki/xacro">

    <material name="gray">
        <color rgba="0.8 0.8 0.8 1" />
    </material>

    <material name="red">
        <color rgba="0.8 0.0 0.0 1"/>
    </material>

    <link name="base_link"/>

    <link name="base_link_pneumonic_gripper">
        <visual>
            <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>

            <geometry>
                <cylinder radius="0.5" length="0.2"/>                         
            </geometry>

            <material name="gray"/>
        </visual>
        <collision>

            <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>

            <geometry> 
                <cylinder radius="0.5" length="0.2"/>                         
            </geometry>

            <material name="red"/>
        </collision>
    </link>

    <link name="gripper_left">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.0"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.0"/>
            </geometry>
            <material name="red"/>
        </collision>
    </link>

    <link name="gripper_right">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.0"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.0"/>
            </geometry>
            <material name="red"/>
        </collision>
    </link>

<!-- 
    <joint name="base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_link_pneumonic_gripper"/>
    </joint> -->

    <joint name="base_link_pneumonic_gripper_to_base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_link_pneumonic_gripper"/>
    </joint>

    <joint name="base_link_pneumonic_gripper_to_gripper_left_joint" type="prismatic">
        <origin xyz="0.0 -0.3 0.7" rpy="0 0 0"/>
        <parent link="base_link_pneumonic_gripper"/>
        <child link="gripper_left"/>

        <axis xyz="0 1 0"/>
        <limit lower="0" upper="0.19" effort="1.34" velocity="1"/>
    </joint>

    <joint name="base_link_pneumonic_gripper_to_gripper_right_joint" type="prismatic">
        <origin xyz="0.0 0.3 0.7" rpy="0 0 3.14"/>
        <parent link="base_link_pneumonic_gripper"/>
        <child link="gripper_right"/>
        
        <axis xyz="0 1 0"/>
        <limit lower="0" upper="0.19" effort="1.34" velocity="1"/>
    </joint>
</robot>
